security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Admin
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        admin:
            pattern: ^/admin
            lazy: false
            provider: app_user_provider
            custom_authenticator: App\Security\AdminLoginAuthenticator
            form_login:
                login_path: admin_login
                check_path: admin_login
            logout:
                path: app_logout
                target: admin_login
                invalidate_session: true
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
            entry_point: App\Security\AdminLoginAuthenticator

    access_control:
        - { path: ^/admin/login, roles: PUBLIC_ACCESS }
        - { path: ^/admin/order, roles: ROLE_ADMIN }
        - { path: ^/admin, roles: ROLE_ADMIN }
